/* Footer.module.css */

.footer {
  padding: 20px;
  background: linear-gradient(135deg, #1e5d72, #1e5d72, #1e5d72, #1e5d72);
  color: #fff;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.navLinks a {
  margin: 0 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
  color: #09d910; /* Changes text color on hover */
}

.contactInfo {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}

.contactInfo h3 {
  color: #d70c0c;
  margin-bottom: 10px;
}

.contactInfo p {
  color: #ccc;
  margin-bottom: 5px;
}

.socialLinks {
  flex: 1;
  max-width: 300px;
}

.socialLinks h3 {
  color: #fff;
  margin-bottom: 10px;
}

.socialLinks div {
  display: flex;
  justify-content: center;
}

.socialLink {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.socialLink .icon {
  margin-right: 8px;
  font-size: 1.5em; /* Adjust icon size as needed */
  color: inherit; /* Ensures icon inherits the color from the parent element */
}

.socialLink:hover {
  color: #09d910; /* Changes text color on hover */
}

.socialLink:hover .icon {
  /* Keeps icon color the same as the text color on hover */
  color: #fff; 
}

.copyRights {
  margin-top: 20px;
  color: #cccccc;
}
